<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Grupo_3_Formulario_MDI_Menu.Properties.Settings.BasededatosConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Basededatos.accdb"
            providerName="System.Data.OleDb" />
        <add name="Grupo_3_Formulario_MDI_Menu.Properties.Settings.Conexion"
            connectionString="Data Source=LAPTOP-JCD60568;Initial Catalog=Login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>